body{
    width: 1160px;
    height: 800px;
    /*background: url("parkingbackground.jpg");background-color: #ffc105; */

    background-size: 100%;
    background-repeat: no-repeat;
    margin: 60px;
    margin-top: 0px;

    font-family: "AppleGothic";
}
h1{
    font-size:40pt;
    padding: 10px;
    margin: 0px;
    background-color: black;
    color: white;
}
h2{
    padding: 10px;
    margin: 0px;
}

input{
    font-family: "AppleGothic";
    font-size: 12pt;
    margin: 10px;
}
button#button{
    font-family: "AppleGothic";
    font-size: 12pt;
    position: absolute;
    top:300px;
    left:0px;
}
div#layout{
    alignment: center;
    width: 650px;
    height: 500px;
    position: absolute;
    left:50px;
    top:220px;
    background-color: white;
    border-radius: 20px;
    border: black 2px solid;
    margin:0px;

}
div#creditcard{
    position: absolute;
    left:50px;
    top:300px;
}

/*Spots*/
div[id^="spot"]{
    border: black 2px solid;
    height: 80px;
    width: 50px;
    float:left;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center ;
    cursor:pointer;
    background-color: white;
    border: black 2px solid;
    font-size: 10pt;
}
div[id^="spot"]:hover{
    background-color: grey;
    opacity: 50%;
}

div#formframe{
    position: relative;
    text-align: left;
    height: auto;
    width: 400px;
    left: 700px;
    top: 0px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    border: black 2px solid;

}

span{
    margin: 10px;
}
div#mallside{
    text-align: center;
    width: 630px;
    height: 50px;
    background-color: grey;
    border: black 2px solid;

}
p#message{
    position:relative;
    font-weight: bold;
    width: auto;
    height: 50px;
    font-size: 20px;
    max-width: 300px;
}
select{
    font-family: "AppleGothic";
    font-size: 12px;
}

div#personalinfo{
    position: absolute;
    text-align: left;
    height: auto;
    width: 400px;
    left: 50px;
    top: 250px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;

}

div#parkinginfo, #information, #paymentinfo, #billing {
    padding: 10px;
}
button#confirm{
    font-family: "AppleGothic";
    font-size: 12pt;
}
div#order{
    margin-top: 20px;
    position: relative;
    top: 50px;
}