body{
    width: 800px;
    height: 800px;
    /*background: url("./Parking Images/parkingbackground_cropped.png");*/
    background-position: left;
    background-size: 60%;
    background-repeat: no-repeat;
   /*background-color: #bcbcbc;*/
}
div#layout{
    width: 800px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    border:none;

}
/*Spots*/
div{
    border: black 2px solid;
    height: 80px;
    width: 40px;
    float:left;
    margin: 15px;
    text-align: center ;
    cursor:pointer;
}
div#formframe{
    position: relative;
    text-align: left;
    height: auto;
    width: 400px;
    left: 800px;
    top: 100px;

}